
<div class="container">
  <div class = "row">
    <% @listings.each do |listing| %>
      <div class ="col-md-3">

         <div class="thumbnail">
            <%= image_tag listing.image.url(:medium) %></br>
            <div class="caption">
              <h3><%= listing.name %></br></h3>
              <p><%= listing.description %></br></p>
              <p><%= number_to_currency(listing.price, :unit => "€") %></br></p>
                <div class="row">
                  <%= form_tag({controller: "shopping_carts", action: "create"}, method: "post", class: "nifty_form") do %>
                  <div class="col-lg-6">
                    <%= number_field_tag(:quantity, :price, in: 1..300, step: 1, class: "form-control", placeholder: "Quantity")%>
                  </div>
                  <div class="col-lg-1">
                    <%= hidden_field_tag(:listing_id, listing.id) %>
                    <!--  SPACING -->
                  </div>
                  <div class="col-lg-5">
                    <%= submit_tag 'Add to cart', class: "btn btn-primary" %>
                  </div>
                  <% end %>
                </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>

<!--
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link"  %>
-->