<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for @filterrific do |f| %>

        <div class = "row">
          <div class = "form-group col-md-3">
            <%= f.text_field(
              :search_query,
              class: 'form-control',
              placeholder: 'Search'
            ) %>
          </div>

          <div class = "form-group col-md-2">
            <%= f.text_field(
              :max_price,
              class: 'form-control',
              placeholder: 'Max Price'
            ) %>
          </div>

          <div class = "form-group col-md-3">
            <%= f.select(
              :filtered_by,
              @filterrific.select_options[:filtered_by],
              {},
              {class: "form-control selectpicker", placeholer: "Show Only"}
            ) %>
          </div>

          <div class = "form-group col-md-3">
            <%= f.select(
              :sorted_by,
              @filterrific.select_options[:sorted_by],
              {},
              {class: "form-control selectpicker", placeholder: "Sort By"} 
            ) %>
          </div>

          <div class = "col-md-1">
            <%= submit_tag "Search!", class: "btn btn-primary pull-right"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render(
    partial: 'listings/list',
    locals: { listings: @listings }
  ) %>
</div>

<!--
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link"  %>
-->
