
<div class="container">

<p id="notice"><%= notice %></p>
  
	<div class="panel panel-default">
  	<div class="panel-heading"><h3 class="panel-title">Basket</h3></div>
  	
  	<div class="panel-body">
  		<div class = "table-reponsive">
			<table class="table table">
				<thead>
					<tr>
						<th>Item</th>
						<th class = "order-image"></th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Total</th>
					</tr>
				</thead>

				<tbody>
					<% @shopping_cart.shopping_cart_items.each do |product| %>
					<tr>
						<td>
							<p><%= Listing.find(product.item_id).name %> </p>
						</td>
						<td class = "order-image">
							<%= image_tag Listing.find(product.item_id).image.url(:thumb)%></br>
						</td>
						<td>
							<p><%= product.quantity %> </p>
						</td>
						<td>
							<p><%= number_to_currency(product.price, :unit => "€")%> </p>
						</td>
						<td>
							<p><%= number_to_currency(product.quantity * product.price, :unit => "€") %> </p>
						</td>
					</tr>
					<% end %>


					<tr>
						<th>Total:</th>
						<th class = "order-image"></th>
						<th></th>
						<th></th>
						<th><%= number_to_currency(@shopping_cart.subtotal, :unit => "€") %></th>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
</div>

</table>

<div class="form-group">
	<%= link_to 'Empty Cart', @shopping_cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-left" %>
</div>

<div class="form-group">
	<%= link_to "Check Out Now!", new_shopping_cart_order_path(:shopping_cart_id => @shopping_cart.id), class: "btn btn-success pull-right", data: {no_turbolink: true} %>
</div>

</br>

<!--
<%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to 'Back', shopping_carts_path %>
-->
</div>
